In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [70]:
# Read the file and check
df = pd.read_csv('PewDiePie.csv')
df.head(20)

    Date  Subscribers
0      1        71915
1      2        48270
2      3        47746
3      4        42276
4      5        36867
5      6        28722
6      7        29794
7      8        33125
8      9        27877
9     10        30675
10    11        32450
11    12        45714
12    13        59377
13    14        42289
14    15        36002
15    16        25872
16    17        31623
17    18        46504
18    19        49421
19    20        27844

In [57]:
# Assign variables to the columns
x = df['Date']
y = df['Subscribers']

In [58]:
# Check x
x.head(5)

0    1
1    2
2    3
3    4
4    5
Name: Date, dtype: int64

In [59]:
# Check y
y.head(5)

0    71915
1    48270
2    47746
3    42276
4    36867
Name: Subscribers, dtype: int64

In [60]:
# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 10)
# test_size = 0.3 here means that out of 100% data, 30% will be used in testing. Consequently, the rest (70%) is for training purposes.

In [61]:
# The actual 
x_train = np.array(x_train).reshape(-1, 1)
y_train = np.array(y_train).reshape(-1, 1)
simplelinearRegression = LinearRegression()
simplelinearRegression.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [62]:
x_test = np.array(x_test).reshape(-1, 1)
y_predict = simplelinearRegression.predict(x_test)

In [63]:
predict = pd.DataFrame(y_predict)

In [64]:
predict.apply(np.round)

         0
0  44683.0
1  41405.0
2  46869.0
3  45776.0
4  49054.0
5  32663.0

In [65]:
predict.head()

              0
0  44683.056503
1  41404.838523
2  46868.535156
3  45775.795829
4  49054.013809

In [66]:
day = 21
while day <= 30:
    print(f"The predicted increase in subscribers on May {day} is {int(simplelinearRegression.predict([[day]]))}")
    day = day + 1

The predicted increase in subscribers on May 21 is 30477
The predicted increase in subscribers on May 22 is 29384
The predicted increase in subscribers on May 23 is 28291
The predicted increase in subscribers on May 24 is 27199
The predicted increase in subscribers on May 25 is 26106
The predicted increase in subscribers on May 26 is 25013
The predicted increase in subscribers on May 27 is 23921
The predicted increase in subscribers on May 28 is 22828
The predicted increase in subscribers on May 29 is 21735
The predicted increase in subscribers on May 30 is 20642